@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-navy-900 text-white font-sans antialiased; /* Default luxury theme */
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif text-gold-400; /* Gold Headings [cite: 46] */
}
